html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  background-color:	#FFFFE0;
}

.header{
  color: #6495ED;
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
  display: flex;
  align-items: center;
}

.content{
  padding: 45px;
}

.todo_form{
  font-size: 15px;
  width: 100%;
  height: 70px;
  background-color: #6495ED;
  display: flex;
  align-items: center;
  padding: 20px;
}

#todo_input {
  width: 90%;
  height: 45px;
  font-size: 15px;
  padding: 10px;
}

#add_button {
  width: 10%;
  height: 45px;
  font-size: 15px;
  padding: 10px;
  margin-left: 15px
}

.title{
  color: #6495ED;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 20px;
}

.todo_list{
  display: flex;
  font-size: 15px;
  padding: 20px;
}

ul{
  list-style: none;
}

.delete_button{
  background-color: #6495ED;
  margin-left: 10px;
}
