html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  background-color:	#FFFFE0;
}

*:focus {
  outline: none;
}

.header{
  color: #6495ED;
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
  padding-left: 30%;
  display: flex;
  align-items: center;
  text-align: center;
}

.content{
  padding: 30px;
}

.todo_form{
  font-size: 15px;
  width: 95%;
  height: 70px;
  
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

#todo_input {
  border: 5px solid #6495ED;
  width: 95%;
  height: 45px;
  font-size: 15px;
  padding: 10px;
}

#add_button {
  background-color: #6495ED;
  width: 5%;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFE0;
  padding: 10px;
  margin-left: 15px;
  border-radius: 20px;
}

section{
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}
.title{
  color: #6495ED;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
}

.todo_list{
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

ul{
  list-style: none;
  padding: 20px;
}

.delete_button{
  font-weight: bold;
  color: #FFFFE0;
  background-color: #6495ED;
  margin-left: 10px;
  border-radius: 20px;
}
