html,
body {
    margin: 0;
    background-color: #e2f0d1;
}

/*전체*/
* {
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
}

.container {
    padding: 20px;
}

.todo-list {
    width: 100%;
    height: 80px;
    padding: 12px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    background-color: rgb(5, 71, 3);
}

/*제목*/
.title {
    background-color: rgb(5, 71, 3);
    color: ivory;
    padding: 15px;
    margin: 0;
    font-weight: lighter;
}

/*TO-DO LIST*/
.list-title {
    font-size: 32px;
    text-decoration: underline;
    margin: 15px;
}

#input {
    width: 100%;
    font-size: 25px;
    padding: 20px;
    border: 3px inset ivory;
    background-color: #cccfbc;
    border-radius: 10px;
}
#input:hover {
    background-color: ivory;
}

/*추가 button*/
#list-button {
    width: 10%;
    height: 100%;
    padding: 5px;
    border: 3px inset ivory;
    color: rgb(5, 71, 3);
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}

#list-button:hover {
    background-color: rgb(5, 71, 3);
    color: ivory;
}

/*delete button*/
.deleteButton {
    background-color: rgb(5, 71, 3);
    margin-left: 8px;
    vertical-align: middle;
    color: #cccfbc;
    border-radius: 30px;
}

.listElement {
    font-size: 25px;
    margin: 4px;
}
